html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: 'Proza Libre', sans-serif;
}

body {
  width: 1440px;
  background: black;
  color: white;
  margin: 0;
}

a {
  color: lime;
}

p {
  font-size: 1.0em;
}

hr {
  margin: 0 15% 10px 15%;
  height: 2px;
  background-color: white;
  border: none;
}

table td {
  padding: 7px;
}

.title {
  font-size: 1.4em;
  color: cyan;
}

.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1600px;
  background-attachment: fixed;
  background-image: url('./images/bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.main-contents {
  padding-left: 30%;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto;
}

.counter {
  padding-bottom: 20px;
}

table.count {
  display: inline;
}

.right {
  display: block;
  text-align: right;
  margin-right: 10%;
}

.left {
  display: block;
  text-align: left;
  margin-left: 10%;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 80px;
}

.logos > img {
  max-height: 75px;
  margin: 15px 30px;
}

@media(max-width: 640px) {

  body {
    background-image: url('./images/bg_sp.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 3em;
  }

  .background {
    display: none;
  }

  .main-contents {
    margin-left: 0;
    padding: 10px 16px 200px 16px;
    background: rgba(0, 0, 60, 0.7);
  }

  .logos {
    padding: 30px 20px;
  }

  .logos > img {
    max-height: 140px;
    margin: 25px 40px;
  }

  .info {
    margin: 0 10%;
  }
}
	
