html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  width: 1440px;
  background: black;
  color: white;
  margin: 0;
}

a {
  color: lime;
}

p {
  font-size: 1.0em;
}

.background {
  position: fixed;
  width: 100%;
  height: 1600px;
  background-attachment: fixed;
  background-image: url('./images/bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.main-contents {
  margin-left: 30%;

}

.counter {
  padding-bottom: 20px;
}

table.count {
  display: inline;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 80px;
}

.logos > img {
  max-height: 75px;
  margin: 15px 30px;
}

@media(max-width: 640px) {

  body {
    background-image: url('./images/bg_sp.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 3em;
  }

  .background {
    display: none;
  }

  .main-contents {
    margin-left: 0;
    padding: 10px 16px 200px 16px;
    background: rgba(0, 0, 60, 0.7);
  }

  .logos {
    padding: 30px 20px;
  }

  .logos > img {
    max-height: 140px;
    margin: 25px 40px;
  }
}
	
