html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  width: 1440px;
  background: black;
  color: white;
  margin: 0;
}

.background {
  width: 100%;
  height: 2000px;
  background-attachment: fixed;
  background-image: url('./images/bm20th_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.main-contents {
  margin-left: 30%;

}

.counter {
  padding-bottom: 20px;
}

table.count {
  display: inline;
}

